# Heroes of Pymoli Data Analysis

- Age demographics data  reveal that a  large majority of  people  who play Heroes of Pymoli are aged 20-24 (44.79%) while only 2.08% are aged 40 or above. It is apparent that this game appeals mainly to people aged 15-29.

- Among the top 5 most profitable items, "Oathbreaker, Last  Hope of the Breaking Storm" was not only the most purchased item, but it was also the cheapest at $4.23. The relatively low item price appears to be correlated with its high purchase count.

- Based on the Purchasing Analysis (Age) data, it is not easily apparent that age correlates to average purchasse price although it does seem to be relevant to Total Purchase Value. The majority of people  who  play this game are aged 20-24 so it is no surprise that they eclipse  all other age groups in Total Purchase Value by a large margin at 1114.06 dollars. The
The age group with the next highest Total Purchase Value  is 15-19 at $412.89.

In [23]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Downloads\heroes_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [24]:
df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

# Player Count

In [25]:
#Player Count
player_count = len(df["SN"].unique())
player_count_table = pd.DataFrame({"Total Player Count": [player_count]}, columns= ["Total Player Count"])
player_count_table

   Total Player Count
0                 576

# Purchasing Analysis (Total)

In [26]:
# Unique items count
unique_items = len(df["Item ID"].unique())

# Average Price
average_price = round(df["Price"].mean(), 2)

# Number of purchases
total_purchases = df["Price"].count()

# Total Revenue
total_revenue = round(df["Price"].sum(), 2)

# List for analysis
purchase_analysis = []

# Appending values to list
purchase_analysis.append(unique_items)
purchase_analysis.append("$" + str(average_price))
purchase_analysis.append(total_purchases)
purchase_analysis.append("$" + str(total_revenue))

# Summary Table of Purchase Analysis
pd.DataFrame([purchase_analysis], columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

# Gender Demographics

In [27]:
total_count = df["SN"].nunique()
male_count = df[df["Gender"] == "Male"]["SN"].nunique()
female_count = df[df["Gender"] == "Female"]["SN"].nunique()
other_count = total_count - male_count - female_count
male_percent = ((male_count/total_count)*100)
female_percent = ((female_count/total_count)*100)
other_percent = ((other_count/total_count)*100)

gender_demo_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": [male_percent, female_percent, other_percent],
                                        "Total Count": [male_count, female_count, other_count]}, columns = 
                                        ["Gender","Total Count","Percentage of Players"])
                                        
gender_demo_final = gender_demo_df.set_index("Gender")
gender_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

# Purchasing Analysis (Gender)

In [28]:
male_purchases = df[df["Gender"] == "Male"]["Price"].count()
female_purchases = df[df["Gender"] == "Female"]["Price"].count()
other_purchases = total_purchases - male_purchases - female_purchases
male_price_avg = df[df["Gender"] == "Male"]['Price'].mean()
female_price_avg = df[df["Gender"] == "Female"]['Price'].mean()
other_price_avg = df[df["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
male_price_total = df[df["Gender"] == "Male"]['Price'].sum()
female_price_total = df[df["Gender"] == "Female"]['Price'].sum()
other_price_total = df[df["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
male_norm = male_price_total/male_count
female_norm = female_price_total/female_count
other_norm = other_price_total/other_count

gender_purchase_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"], "Purchase Count": [female_purchases, male_purchases, other_purchases],
                                        "Average Purchase Price": [female_price_avg, male_price_avg, other_price_avg], "Total Purchase Value": [female_price_total, male_price_total, other_price_total],
                                "Normalized Totals": [female_norm, male_norm, other_norm]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
                                        
gender_purchase_total = gender_purchase_df.set_index("Gender")
gender_purchase_total.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Normalized Totals": "${:.2f}"})

# Age Demographics

In [29]:
under_ten = df[df["Age"] <10]
early_teens = df[(df["Age"] >=10) & (df["Age"] <=14)]
late_teens = df[(df["Age"] >=15) & (df["Age"] <=19)]
early_twenties = df[(df["Age"] >=20) & (df["Age"] <=24)]
late_twenties = df[(df["Age"] >=25) & (df["Age"] <=29)]
early_thirties = df[(df["Age"] >=30) & (df["Age"] <=34)]
late_thirties = df[(df["Age"] >=35) & (df["Age"] <=39)]
early_forties = df[(df["Age"] >=40) & (df["Age"] <=44)]
late_forties = df[(df["Age"] >=45) & (df["Age"] <=49)]

age_demo_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                            "Total Count": [under_ten["SN"].nunique(), early_teens["SN"].nunique(), late_teens["SN"].nunique(), early_twenties["SN"].nunique(), late_twenties["SN"].nunique(), early_thirties["SN"].nunique(), late_thirties["SN"].nunique(), early_forties["SN"].nunique(), late_forties["SN"].nunique()],
                             "Percentage of Players": [(under_ten["SN"].nunique()/total_count)*100, (early_teens["SN"].nunique()/total_count)*100, (late_teens["SN"].nunique()/total_count)*100, (early_twenties["SN"].nunique()/total_count)*100, (late_twenties["SN"].nunique()/total_count)*100, (early_thirties["SN"].nunique()/total_count)*100, (late_thirties["SN"].nunique()/total_count)*100, (early_forties["SN"].nunique()/total_count)*100, (late_forties["SN"].nunique()/total_count)*100]})

age_demo_final = age_demo_df.set_index("Age")
age_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

# Purchasing Analysis (Age)

In [30]:
age_purchasing_df = pd.DataFrame({"Age": ["10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49","<10"],
                              "Purchase Count": [early_teens["Price"].count(), late_teens["Price"].count(), early_twenties["Price"].count(), late_twenties["Price"].count(), early_thirties["Price"].count(), late_thirties["Price"].count(), early_forties["Price"].count(), late_forties["Price"].count(),under_ten["Price"].count()],
                              "Average Purchase Price": [early_teens["Price"].mean(), late_teens["Price"].mean(), early_twenties["Price"].mean(), late_twenties["Price"].mean(), early_thirties["Price"].mean(), late_thirties["Price"].mean(), early_forties["Price"].mean(), late_forties["Price"].mean(), under_ten["Price"].mean()], 
                              "Total Purchase Value": [early_teens["Price"].sum(), late_teens["Price"].sum(), early_twenties["Price"].sum(), late_twenties["Price"].sum(), early_thirties["Price"].sum(), late_thirties["Price"].sum(), early_forties["Price"].sum(), late_forties["Price"].sum(),under_ten["Price"].sum()],
                              "Avg Total Purchase per Person": [early_teens["Price"].sum()/early_teens['SN'].nunique(), late_teens["Price"].sum()/late_teens['SN'].nunique(), 
                                                    early_twenties["Price"].sum()/early_twenties['SN'].nunique(), late_twenties["Price"].sum()/late_twenties['SN'].nunique(), 
                                                    early_thirties["Price"].sum()/early_thirties['SN'].nunique(), late_thirties["Price"].sum()/late_thirties['SN'].nunique(), 
                                                    early_forties["Price"].sum()/early_forties['SN'].nunique(), late_forties["Price"].sum()/late_forties['SN'].nunique(), under_ten["Price"].sum()/under_ten['SN'].nunique()]}, columns = 
        ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])

age_purchasing_final = age_purchasing_df.set_index("Age")

age_purchasing_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}"})

# Top Spenders

In [31]:
sn_total_purchase = df.groupby('SN')['Price'].sum().to_frame()
sn_purchase_count = df.groupby('SN')['Price'].count().to_frame()
sn_purchase_avg = df.groupby('SN')['Price'].mean().to_frame()

sn_total_purchase.columns=["Total Purchase Value"]
join_one = sn_total_purchase.join(sn_purchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

join_two = join_one.join(sn_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

top_spenders_df = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

# Most Popular Items

In [32]:
pre_merge_one = df.groupby("Item Name").sum().reset_index()
pre_merge_two = df.groupby("Item ID").sum().reset_index()
pre_merge_three = df.groupby("Item Name").count().reset_index()

merge_one = pd.merge(pre_merge_one, pre_merge_two, on="Price")
merge_two = pd.merge(pre_merge_three, merge_one, on="Item Name")

merge_two["Gender"] = (merge_two["Price_y"]/merge_two["Item ID"]).round(2)

merge_two_renamed = merge_two.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

clean_df = merge_two_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

prefinal_df = clean_df.set_index(['Item Name', 'Item ID'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head(6)
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

# Most Profitable Items

In [33]:
profit_items_final = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

SyntaxError: invalid syntax (<ipython-input-34-854a1ef0ba4a>, line 1)